@font-face {
  font-family: "Hanken Grotesk";
  src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
  font-family: "Hanken Grotesk";
}

.container {
  width: 740px;
  height: 510px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: white;
  border-radius: 30px;
}

.container--shadow {
  box-shadow: 10px 10px 20px 0px hsla(241, 72%, 46%, 0.2);
}

.container__item {
  box-sizing: border-box;
  border-radius: 30px;
  width: 370px;
}

.result {
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 36px;
  text-align: center;
}

.result__title {
  color: hsl(241, 100%, 89%);
  margin: 0;
}

.result__comment {
  color: hsl(241, 100%, 89%);
  width: 235px;
  margin: 0 auto;
}

.result__comment h1 {
  color: white;
}

.score-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: 36px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-circle p {
  margin: 0;
  font-weight: bold;
}

.score-circle__value {
  font-size: 72px;
  color: white;
}

.score-circle__max-value {
  color: hsl(241, 100%, 89%);
}

/* .score-circle p {
  margin: 0;
}

.result__comment h2 {
  margin: 0;
  margin-bottom: 24px;
}

.result__comment p {
  margin: 0;
} */

/*
- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)

### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)
*/